.footer{
    background-color: rgba(255, 255, 255);
    border-top: 1px solid #e5e5e5;
    text-align: center;
  user-select: none;

}
.container-fluid{
  display: flex;
  justify-content: center;

  p{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
  }
}
